<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oxbridge.produce.demo.dao.CommunityMapper">
    <resultMap id="BaseResultMap" type="com.oxbridge.produce.demo.model.community">
        <id column="community_id" property="communityId" jdbcType="VARCHAR"/>
        <result column="pic_url" property="picUrl" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="brief_name" property="briefName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="user_count" property="userCount" jdbcType="INTEGER"/>
        <result column="article_count" property="articleCount" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.oxbridge.produce.demo.model.community" extends="BaseResultMap">
        <result column="introduction" property="introduction" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        community_id, pic_url, title, brief_name, create_time, user_count, article_count,
        user_id, type, is_deleted
    </sql>
    <sql id="Blob_Column_List">
        introduction
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_community
        where community_id = #{communityId,jdbcType=VARCHAR}
    </select>

    <select id="selectTop10" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_community
        LIMIT 10
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_community
    where community_id = #{communityId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.oxbridge.produce.demo.model.community">
    insert into t_community (community_id, pic_url, title, 
      brief_name, create_time, user_count, 
      article_count, user_id, type, 
      is_deleted, introduction)
    values (#{communityId,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{briefName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{userCount,jdbcType=INTEGER}, 
      #{articleCount,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=INTEGER}, #{introduction,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.oxbridge.produce.demo.model.community">
        insert into t_community
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="communityId != null">
                community_id,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="briefName != null">
                brief_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="userCount != null">
                user_count,
            </if>
            <if test="articleCount != null">
                article_count,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="communityId != null">
                #{communityId,jdbcType=VARCHAR},
            </if>
            <if test="picUrl != null">
                #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="briefName != null">
                #{briefName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userCount != null">
                #{userCount,jdbcType=INTEGER},
            </if>
            <if test="articleCount != null">
                #{articleCount,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.oxbridge.produce.demo.model.community">
        update t_community
        <set>
            <if test="picUrl != null">
                pic_url = #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="briefName != null">
                brief_name = #{briefName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userCount != null">
                user_count = #{userCount,jdbcType=INTEGER},
            </if>
            <if test="articleCount != null">
                article_count = #{articleCount,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where community_id = #{communityId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.oxbridge.produce.demo.model.community">
    update t_community
    set pic_url = #{picUrl,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      brief_name = #{briefName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_count = #{userCount,jdbcType=INTEGER},
      article_count = #{articleCount,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where community_id = #{communityId,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.oxbridge.produce.demo.model.community">
    update t_community
    set pic_url = #{picUrl,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      brief_name = #{briefName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_count = #{userCount,jdbcType=INTEGER},
      article_count = #{articleCount,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where community_id = #{communityId,jdbcType=VARCHAR}
  </update>
</mapper>